@CHARSET "ISO-8859-1";



@font-face {
	font-family: 'digital-7';	
	src: url(digital-7.ttf);
}

.animated-circle{
	stroke-dasharray: 10;
}

circle {
	stroke-dashoffset: 0;
	transition: stroke-dashoffset 0.5s linear;
		
}

#timerDisplay{
	font-family: digital-7;
}


html, body, .row {
	background-color: #228BCA;
}

#outlineCircle {
	stroke: #077CC2;
}

#progressCircle {
	stroke: #055787;
}

h1{
    color: #6EB5DF !important;
    text-align: center;
}

#timerDisplay {
	fill: #055787;
	
}

h3, h4 {
	color: #459ED3 !important;
}

h4 {
	text-align: center;
}

h3 {
	text-align: right;
	padding-right: 15px;
}

.btn-primary, .btn-primary:hover {
	background-color: #077CC2 !important;
	color: #459ED3 !important;
}