@CHARSET "ISO-8859-1";

@font-face {
	font-family: 'digital-7';	
	src: url(digital-7.ttf);
}

.animated-circle{
	stroke-dasharray: 10;
}

circle {
	stroke-dashoffset: 0;
	transition: stroke-dashoffset 0.5s linear;	
}

#timerDisplay{
	font-family: digital-7;
}